<div class="container">
    <carosal></carosal>
    <div class="well">
        <div class="row">
            <div class="col-sm-8" style="border-right:1px solid black">
                <h1 align="center" style="margin-top:auto">Quick Ad Search</h1>

                <div class="input-group">
                    <select class="form-control" name="adCategory" style="width:200px">
                        <option  *ngFor="let category of categories" >{{category.name}}</option>
                </select>
                    <input type="text" class="form-control" placeholder="Search for Ads here..." style="width:480px" autofocus>
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>

                    </span>
                </div>
            </div>
            <div class="col-sm-4">
                <h2 align="center" style="margin-top:auto">Post Free Ad</h2>
                <div class="input-group">
                    <a class="btn btn-default btn-lg" id="post_ad_btn" routerLink="/postUserAd" routerLinkActive="active">POST AD</a>
                </div>
            </div>
        </div>
    </div>
</div>